@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  @apply text-sm sm:text-base text-gray-600 dark:bg-[#131313] dark:text-[#bbbbbb];
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-gray-900 dark:text-[#ededed];
}

h2 {
  @apply font-serif scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0 text-gray-900 dark:text-[#ededed];
}

h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight text-gray-900 dark:text-[#ededed];
}

p {
  @apply leading-7 [&:not(:first-child)]:mt-6 [&:not(:first-child)]:mb-6;
}

.link {
  @apply underline hover:no-underline font-medium text-primary-900 hover:text-primary-700 dark:text-primary-300 transition-all ease-in-out duration-300;
}

/* Project Card Image */
.screen,
.screen-custom {
  position: relative;
  width: 100%;
}

/* 16:10 Aspect Ratio */
.screen::before {
  content: "";
  display: block;
  padding-top: 60%;
}

/* Custom Height */
.screen-custom::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.viewport {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #333;
  transition: background-position 7s ease;
  background-position: 0 0;
  background-size: 100% auto;
  overflow: hidden;
  cursor: pointer;
}

.viewport:hover {
  background-position: 0 100%;
}